<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{css/accordion-styles.css}">
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />
    <title>Accordion</title>
</head>

<body>
    <div class="container">
        <div class="accordion">
            <button class="accordion-header">
                <span>Como alterar a minha senha?</span>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </button>
            <div class="accordion-body">
                <p>Para alterar sua senha, vá até a tela de login e clique em "Esqueceu a senha?". Você será direcionado
                    para uma página onde deverá digitar o e-mail cadastrado. Em seguida, um código de 6 dígitos será
                    enviado para o seu e-mail. Após inserir o código recebido, você será redirecionado para uma nova
                    tela, onde poderá definir sua nova senha. Por fim, clique no botão para confirmar a alteração — e
                    pronto!</p>
            </div>
        </div>

        <div class="accordion">
            <button class="accordion-header">
                <span>O que é um accordion?</span>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </button>
            <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque illum iusto neque deleniti sint
                    ipsum...</p>
            </div>
        </div>

        <div class="accordion">
            <button class="accordion-header">
                <span>O que é um accordion?</span>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </button>
            <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque illum iusto neque deleniti sint
                    ipsum...</p>
            </div>
        </div>

        <div class="accordion">
            <button class="accordion-header">
                <span>O que é um accordion?</span>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </button>
            <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque illum iusto neque deleniti sint
                    ipsum...</p>
            </div>
        </div>
    </div>

    <script th:src="@{/js/accordion.js}"></script>
</body>

</html>